* {
    background-color: #DBE6F3;
}

.calendar {
    width: 80%;
    height: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .header {
    width: 100%;
    height: 7%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .mainIcon {
    width: 10%;
    height: 10%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    margin-bottom: 5px;
  }
  
  .text {
    font-size: 0.8em;
  }
  
  .text.month {
    margin-left: 5px;
    font-size: 1.6em;
    font-weight: 600;
  }
  
  .col.col-end {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
  }
  
  .col.col-end svg {
    width: 11%;
    height: fit-content;
    margin-left: 5%;
    color: rgba(128, 128, 128, 0.8);
  }
  
  .col.col-end svg:hover {
    cursor: pointer;
    transform: scale(1.15);
    color: #3f3f3f;
  }
  
  .days {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 0.65em;
    padding: 2px;
    color: #3f3f3f;
  }
  
  .col {
    width: 12.9%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 1%;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  }
  
  .body {
    width: 100%;
    height: 89%;
    display: flex;
    flex-direction: column;
  }
  
  .row {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .col.cell {
    width: 13.5%;
    height: 93%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border: 0.4px solid rgba(128, 128, 128, 0.4);
    border-radius: 5px;
    font-size: 0.8em;
  }

  
  .col.cell span {
    margin: 4px;
  }
  
  .col.cell .not-valid {
    color: #ffffff;
  }
  
  .col.cell img {
    opacity: 0.1;
  }
  
  .col.cell.valid:hover {
    cursor: pointer;
    box-shadow: 1.5px 1.5px rgba(128, 128, 128, 0.1);
    transform: scale(1.01);
    border: none;
    background-color: #dbe2ff;
  }
  
  .col.cell.selected {
    box-shadow: 1.5px 1.5px #008080;
    transform: scale(1.02);
    color: #0040ff;
    font-weight: 600;
    background-color: #aebcf4;
  }
  