* {
    padding: 0;
    margin: 0;
    font-family: var(--font-PoorStory);
}

.mainIcon {
    width: 120px;
    height: 150px;
}

.itemXs {
    width: 50px;
    height: 50px;
}

.item {
    width: 50px;
    height: 50px;
}

.container {
    margin-top: 50px;
    padding: 25px;
    border: 1px solid lightgray;
    border-radius: 20px;
}

.signUp {
    width: 350px;
    height: 40px;
    margin: auto;
    font-size: 14px;
    text-align: center;
    border: 1px solid black;
    background-color: black;
    color: white;
    display: block;
    border-radius: 5px;
}

.signUp:hover {
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.forgotPassword {
    display: block;
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    font-family: var(--font-PoorStory);
}