* {
    margin: 0;
    padding: 0;
    /* font-family: var(--font-PoorStory); */
}

.firstLayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: -80px;
    padding: 100px;
}

/* .secondLayout {
    float: left;
} */


.loginHome {
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin-right: auto;
    float: center;
    font-size: 14px;
    text-align: center;
    border: 1px solid #0040ff;
    background-color: #0040ff;
    color: white;
    margin-bottom: 10px;
    font-weight: bolder;
}

.loginHome:hover {
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin: auto;
    font-size: 14px;
    text-align: center;
    border: 1px solid #3668ff;
    background-color: #3668ff;
    color: white;
    display: inline-block;
    transition: all .3s;
    margin-bottom: 10px;
    font-weight: bolder;
}



.signUpHome {
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin-right: auto;
    float: center;
    font-size: 14px;
    text-align: center;
    border: 1px solid #0040ff;
    background-color: #0040ff;
    color: white;
    font-weight: bolder;
}

.signUpHome:hover {
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin: auto;
    font-size: 14px;
    text-align: center;
    border: 1px solid #3668ff;
    background-color: #3668ff;
    color: white;
    display: inline-block;
    transition: all .3s;
    font-weight: bolder;
}


.mainIcon {
    margin-top: -15px;
    width: 100px;
    height: 120px;
    position: relative;
    left: 95%;
    transform: translateX(-95%);
}

.line {
    border-top: 1px solid #ababab;
    margin: 30px 0px;
}

.introduce {
    color: #ababab;
    font-size: 14px;
    text-align: center;
}

.firstHomePicture {
    padding-top: 40px;
    padding-bottom: 50px;
    width: 90%;
    height: 100%;
    float: left;
}

.secondHomePicture {
    padding-top: 40px;
    float: right;
    width: 90%;
    height: 100%;
}

.thirdHomePicture {
    padding-top: 80px;
    width: 90%;
    height: 100%;
    float: left;
}

hr {
    width: max-content;
}

/* 세로모드 모바일 디바이스 */
/* @media screen and (max-width: 575px) { 
    .firstHomePicture {
        padding-bottom: 20px;
        width:auto;
        height: 100px;
    }

    .secondHomePicture {
        width:auto;
        padding-top: 20px;
        height: 150px;
        float: right;
    }

    .thirdHomePicture {
        width: auto;
        padding-top: 40px;
        height: 100px;
    }
}

/* 가로모드 모바일 디바이스 */
/* @media screen and (max-width:767px) {
    .firstHomePicture {
        padding-bottom: 20px;
        width:auto;
        height: 150px;
    }

    .secondHomePicture {
        width:auto;
        padding-top: 20px;
        height: 200px;
        float: right;
    }

    .thirdHomePicture {
        width: auto;
        padding-top: 40px;
        height: 150px;
    }
}

/* 태블릿 디바이스 */
/* @media screen and (max-width: 991px) {
    .firstHomePicture {
        padding-bottom: 20px;
        width:auto;
        height: 250px;
    }

    .secondHomePicture {
        width:auto;
        padding-top: 20px;
        height: 300px;
        float: right;
    }

    .thirdHomePicture {
        width: auto;
        padding-top: 40px;
        height: 200px;
    } 
}   */